<!DOCTYPE html>
<html>
<head>
  <title>Let's Play!</title>
</head>
<body>
    <h1>Let's play madlibs!</h1>
    <br>
    <form action='/madlib'>
        <label> Name a person:
            <input type='text' name='person'>
        </label>
        <br><br>
        <label> Pick a color:
            <select name='color'>
                <option value='blue'>Blue</option>
                <option value='red'>Red</option>
                <option value='yellow'>Yellow</option>
                <option value='chartreuse'>Chartreuse</option>
            </select>
        </label>
        <br><br>
        <label> Pick a noun:
            <input type='text' name='noun'>
        </label>
        <br><br>
        <label> Pick an adjective:
            <input type='text' name='adjective'>
        </label>
        <br><br>
        <input type='submit'>
    </form>
</body>
</html>