<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./static/madlibs.css">
    <style>
        p {
            background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQXXjOIltoCZvIp9cHMjqCxhGQeNEKOZRbaBtpH2USPa4Is-rbQ")
            background-repeat: no-repeat;
        }
    </style>
  <title>Madlib</title>
</head>
<body>
    <h2>
    </h2>
    <p class="transbox">
        I am the great-great-granddaughter of {{ person }}. I inherited a {{ adjective }} plate that has turned {{ color }}, and a menagerie in {{ city }} with {{ animals }} and no gamekeepers.
    </p>
</body>
</html>